:root{
    --primery-text-color: black;
    --title-text-color: black;
    --title-background-color:  #ffffff;
    --accent-color: blue;
}
body {
    background-color:var(--title-background-color);
    color: var(--title-text-color);
}
.button {
background-color: var(--accent-color);
color: var(--title-background-color);
}

.logo .style {
    color: var(--title-text-color);
}
ul {
    list-style: none;
}
.site-nav .link {
 color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
color: var(--accent-color);
}
.list-button {
    background-color: var(--title-background-color);
    color: var(--title-text-color); 
}
/* .list-button .button:hover,
.list-button .button:focus {
    color: var(--accent-color);
} */

